/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body {
    font-family: 'Jost', sans-serif;
}
/* HEADER */
header{
    background-color: aqua;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}
.navbar .header__title h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.navbar .header__title span{
    color: #009f4d;
}
.navbar .header__title h4{
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    color: white;
}
.header__search i{
    width: 45px;
    height: 45px;
    background-color: #009f4d;
    text-align: center;
    line-height: 45px;
    border-radius: 45px;
    color: white;
}
#navbarCorpvision .navbar-nav .nav-link{
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    opacity: .8;
    transition: all .5s;
}
#navbarCorpvision .nav-item .nav-link:hover{
    color: white;
    color: white;
    opacity: 1;
}
#navbarCorpvision .dropdown-menu .dropdown-item.active{
    color: #009f4d;
    background: none;
}
#navbarCorpvision .dropdown-menu::after{
    content: '';
    width: 14px;
    height: 14px;
    background: white;
    border: 1px solid transparent;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}
#navbarCorpvision .nav-item{
    position: relative;
}
#navbarCorpvision .dropdown-menu{
    position: absolute;
    left: -50px;
    border-radius: 8px;
    padding: 1rem 1.5rem 1rem 0.2rem;
}
#navbarCorpvision .dropdown-menu .dropdown-item{
    font-size: 15px;
    padding: 6px 20px;
    font-weight: 600;
    color: #656182 ;
    transition: all .5s;
}
#navbarCorpvision .dropdown-menu .pages__effect:hover{
    background: none;
    color: black;
}