/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body {
    font-family: 'Jost', sans-serif;
}
/* HEADER */
header{
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    z-index: 100;
    position: fixed;
    width: 100%;
    transition: all .6s;
}
.sticky{
    background-color: #fff;
    height: 80px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
#navbarCorpvision .navbar-nav #scroll .colorFix {
    color: #009f4d;
}

#navbarCorpvision .navbar-nav .nav-item .nav-link.colorText{
    color: #3f3a64;
    opacity: .7;
}

.navbar .header__logo.colorLogo{
    color: #3f3a64;
}
.navbar .header__title h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.navbar .header__title span{
    color: #009f4d;
}
.navbar .header__title h4{
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    color: white;
}
.header__search i{
    width: 45px;
    height: 45px;
    background-color: #009f4d;
    text-align: center;
    line-height: 45px;
    border-radius: 45px;
    color: white;
}
#navbarCorpvision .navbar-nav .nav-link{
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    opacity: .8;
    transition: all .5s;
}
#navbarCorpvision .nav-item .nav-link:hover{
    color: white;
    color: white;
    opacity: 1;
}

#navbarCorpvision .navbar-nav .nav-item.active .nav-link{
    color: #fff;
    opacity: 1;
}


#navbarCorpvision .dropdown-menu::after{
    content: '';
    width: 14px;
    height: 14px;
    background: white;
    border: 1px solid transparent;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

#navbarCorpvision .nav-item{
    position: relative;
}

#navbarCorpvision .dropdown-menu{
    position: absolute;
    left: -50px;
    border-radius: 8px;
    padding: 1rem 1.5rem 1rem 0.2rem;
}
#navbarCorpvision .dropdown-menu .dropdown-item{
    font-size: 15px;
    padding: 6px 20px;
    font-weight: 600;
    color: #656182 ;
    transition: all .5s;
}
#navbarCorpvision .dropdown-menu .dropdown-item:hover{
    background: none;
    color: black;
}
.navbar .colorMenu {
    background-color: white;
}
/* SEARCH BAR */
.search-container {
    position: relative;
}

.search-trigger {
    cursor: pointer;
}

.search-trigger {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.search-trigger i{
    color: #FFF;
    transition: opacity 0.3s ease-in-out;
}

.search-bar {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    color: #fff;
    font-size: 54px;
    border: 0;
    background: transparent;
    appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

.search-bar input{
    position: absolute;
    right: 570px;
    top: 300px;
    color: #fff !important;
    font-size: 54px;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-weight: 200;
}

.search-bar input::placeholder{
    color: #fff;
}

.search-close {
    position: absolute;
    top: 5px;
    right: 60px;
    cursor: pointer;
    font-size: 18px;
}

.search-close i{
    color: #FFF;
    cursor: pointer;
    font-size: 70px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}
/* CAROUSEL */

.carouselCorpVision{
    background-image: url(../images/about/b1.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 390px;
}

.overlay{
    background-color: rgba(29, 42, 55, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carousel__title{
    position: absolute;
    text-align: center;
    top: 195px;
    color: white;
    z-index: 2;
}

.carousel__title h1{
    font-size: 50px;
    font-weight: 600;
}

.carousel__title p{
    color: #fff;
    font-size: 20px;
    opacity: 0.7;
}
/* ABOUT US */
.aboutUs_left{
    position: relative;    
}
.aboutUs__left img{
   border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.aboutUs__left .shadow{
    background-color: #009f4d;
    width: 500px;
    height: 500px;
    border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
    opacity: .4;
    position: absolute;
    top: 0;
    z-index: -1;
}
.aboutUs__left .aboutUs__box{
    position: absolute;
    right: 85px;
    bottom: 10px;
    background-color: #009f4d; 
    color: #fff;
    padding: 35px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    min-height: 200px;
    min-width: 200px;
    text-align: center;
    border-radius: 8px;
    transform: rotate(45deg);
}
.aboutUs__left .aboutUs__box .aboutUs__content{
    transform: rotate(-45deg);
}
.aboutUs__left .aboutUs__box .aboutUs__content h6{
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 10px;
}
.aboutUs__left .aboutUs__box .aboutUs__content p{
    font-size: 24px;
    line-height: 28px;
    opacity: .8;
}
.aboutUs__right h5{
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}
.aboutUs__right h3{
    font-weight: 700;
    color: #3f3a64;
    line-height: 45px;
    font-size: 35px;
}
.aboutUs__right p{
    color: #666;
    opacity: .8;
    font-size: 17px;
    line-height: 27px;
}
.aboutUs .aboutUs__right .btn{
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    background-color: #00a63f;
    border-color: #00a63f;
}
.aboutUs .aboutUs__right .btn:active{
    background-color: #00732c;
    border-color: #006627
}
.aboutUs .aboutUs__right .btn:focus{
    background-color: #008030;
    border-color: #00732c;
    box-shadow: 0 0 0 0.2rem rgba(38, 179, 92, 0.5);
}

/* POPUP VIDEO */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
  }
  div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
  .mfp-close-btn-in .mfp-close {
    color: #fff;
  }
  .mfp-close,
  .mfp-close:active {
    top: -40px;
  }
  
  /**
     * Fade-zoom animation for first dialog
     */
  /* start state */
  .my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
  }
  
  /* Dark overlay, start state */
  .my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }
  
  .aboutUs__popup{
    display: inline-block;
  }
  .aboutUs__right .aboutUs__popup span.fa{
        color: #009f4d;
        font-size: 22px;
        line-height: 65px;
        color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #009f4d;
  }

  .aboutUs__popup span.video-play-icon{
    display: block;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #009f4d;
    text-align: center;
  }

  .aboutUs__comment .aboutUs__box{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    background-color: #f8f9fa;
    padding: 50px 20px;
    border-radius: 8px;
  }

  .aboutUs__comment .aboutUs__box i{
    font-size: 38px;
    width: 40px;
    color: #009f4d;
  }

  .aboutUs__comment .aboutUs__box .aboutUs__title a{
    display: block;
    text-decoration: none;
    color: #3f3a64;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 15px;
    transition: all .5s;
  }

  .aboutUs__comment .aboutUs__box .aboutUs__title a:hover{
    color: #009f4d;
  }

  .aboutUs__comment .aboutUs__box .aboutUs__title p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
  }

  /* MARKETING */

.marketing{
    background-color: #f8f9fa;
}
.marketing .marketing__col1 h6{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
.marketing .marketing__col1 h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
.marketing .marketing__col1 .marketing__exp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.marketing .marketing__col1 .marketing__exp .marketing__clients span{
    color: #009f4d;
    font-size: 35px;
    margin-bottom: 15px;
    display: block;
}
.marketing .marketing__col1 .marketing__exp .marketing__clients h4{
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 28px;
    color: #3f3a64;
    display: inline-block;
    font-weight: 600;
}
.marketing .marketing__col1 .marketing__exp .marketing__clients p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

.marketing .marketing__col1 .marketing__exp .marketing__projects span{
    color: #009f4d;
    font-size: 35px;
    margin-bottom: 15px;
    display: block;
}
.marketing .marketing__col1 .marketing__exp .marketing__projects h4{
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 28px;
    color: #3f3a64;
    display: inline-block;
    font-weight: 600;
}
.marketing .marketing__col1 .marketing__exp .marketing__projects p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

.marketing__col2 img{
    border-radius: 8px;
}

/* CREATIVE */
.creative{
    background-image: url(../images/about/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.creative__layer{
    background-color: rgba(29, 42, 55, 0.7);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.heading{
    max-width: 700px;
}

.creative__text{
    z-index: 2;
}

.creative__text h3{
    color: #fff;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.creative__text p{
    font-size: 17px;
    line-height: 27px;
    color: #eee;
    opacity: .8;
}

/* POPUP_CREATIVE */
.creative__popup span.video-play-icon {
    color: #fff;
    border: 3px solid #fff;
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    transform: scale(1);
    transition: all .5s;
}   

.creative__popup span.fa{
    font-size: 22px;
    -webkit-text-stroke-width: 3px;
    color: transparent;
    -webkit-text-stroke-color: #fff;
}

.creative__popup span.video-play-icon:hover{
    transform: scale(1.1);
}

/* TEAM */
.team .team__text h5{
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
.team .team__text h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
.team__img .team__item{
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    
}
.team__img .team__item img{
    border-radius: 8px;
    width: 100%;
}
.team__overlay{
    background-color: rgba(20, 20, 20, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.team__overlay:hover{
    opacity: 1;
}

.team__layer{
    position: absolute;
    top: 55%;
    padding: 10%;
    opacity: 0;
    transition: all 0.2s linear;
}

.team__overlay:hover .team__layer{
    opacity: 1;
    margin-top: -100px;
}

.team__layer p{
    color: white;
    opacity: .8;
    font-size: 20px;
    margin-bottom: 0;
}
.social__icon a{
    text-decoration: none;
}
.social__icon i{
    line-height: 37px;
    color: white;
    font-size: 14px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.2s linear;
}
.social__icon a:hover i{
    background-color: rgba(255, 255, 255, 0.3);
}
.team__name a{
    text-decoration: none;
}
.team__name h6{
    margin: 25px 0 5px;
    font-size: 20px;
    font-weight: 600;
    color: #3f3a64;
}
.team__name h6:hover{
    color: #009f4d;
}
.team__name p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}

/* CHOOSEUS */
.chooseUs{
    background-color: #f7f7f7;
}
.chooseUs__title{
    max-width: 800px;
    margin: auto;
}
.chooseUs .chooseUs__title h3{
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
.chooseUs .chooseUs__title p{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;

}

.chooseUs .chooseUs__icon1 i{
    width: 80px;
    height: 80px;
    line-height: 75px;
    color:#009f4d;
    border: 1px solid;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
}
.chooseUs .chooseUs__icon2 i{
    width: 80px;
    height: 80px;
    line-height: 75px;
    color:#213364;
    border: 1px solid;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
}
.chooseUs .chooseUs__icon3 i{
    width: 80px;
    height: 80px;
    line-height: 75px;
    color:#ff4c4c;
    border: 1px solid;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
}
.chooseUs .chooseUs__icon4 i{
    width: 80px;
    height: 80px;
    line-height: 75px;
    color:#f48924;
    border: 1px solid;
    text-align: center;
    border-radius: 8px;
    font-size: 30px;
}

.chooseUs__item .chooseUs__text a{
    text-decoration: none;
    color: #3f3a64;
    font-size: 24px;
    font-weight: 600;
    transition: all .5s;
}

.chooseUs__item .chooseUs__text p{
    color: #666;
    opacity: .8;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 0;
}

.chooseUs__item .chooseUs__text a:hover{
    color: #009f4d;
}

/* GETPROJECT */
.getProject__text h3{
    font-size: 37px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
.getProject__text p{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
}
.getProject__button{
    align-self: center;
}

.btn-style{
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 600;

}
.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
    border-radius: 8px;
    transition: all .5s;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}
/* FOOTER BOTTOM */
.footer__bottom{
    background-color: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer__bottom h6{
    color: white;
}

.footer__bottom p, .footer__bottom a{
    color: #97a1a9;
    font-size: 18px;
    line-height: 28px;
    opacity: .8;
    transition: all .5s;
}
.footer__bottom a:hover{
    color: white;
    opacity: .8;
}
.footer__bottom a{
    text-decoration: none;
}
.footer__bottom ul{
    list-style: none;
}
.footer__bottom li{
    margin-bottom: 10px;
}

.footer__icon i{
    margin-right: 15px;
    text-align: center;
    font-size: 16px;
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    color: #97a1a9;
    opacity: .6;
}
.footer__icon i:hover{
    color: white;
    opacity: 1;
}

.footer__logo h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.footer__logo span{
    color: #009f4d;
}
.footer__logo h4{
    font-size: 14px;
    padding-left: 10px;
    font-weight: 600;
    color: white;
}

.footer__bottom .footer__text h6{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    letter-spacing: .5px;
}

/* COPYRIGHT */
.footer__copyright{
    background-color: #151421;
    text-align: center;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    padding: 1.5em 0;
}
.footer__copyright span{
    color:#7f8a94;
    font-size: 17px;
    letter-spacing: .5px;
    opacity: 1;
}
.footer__copyright a{
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #009f4d;
    transition: all .5s;
}
.footer__copyright a:hover{
    color: white;
}
/* BACKTOTOP */
.backToTop{
    background-color: #009f4d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    z-index: 100;
}
.backToTop i{
    color: white;
}

.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
  }

/* RESPONSIVE */
/* HEADER */

@media screen and (max-width: 1200px) {
    .aboutUs__left  .shadow{
        width: 450px;
        height: 450px;
    }
}
@media  screen and (max-width:1080px){
    .aboutUs__right h3{
    font-size: 32px;
    line-height: 40px;
    }
    .marketing .marketing__col1 h3{
        font-size: 32px;
        line-height: 40px;
    }
    .chooseUs .chooseUs__title p{
        font-size: 30px;
        line-height: 40px;
    }
}
@media  screen and (max-width:991.98px) {
    .header__search{
        display: none;
    }
    .navbar-collapse{
        background-color: rgba(21, 20, 33, 0.5);
        text-align: center;
    }
    #navbarCorpvision .navbar-nav .dropdown-menu {
        transform: translateX(0px);
        background: white;
        border: 1px solid white;
        border-radius: 8px;
        position: absolute;
        left: -50px;
        border-radius: 8px;
        width: 100%; 
        position: static; 
        text-align: center;
    }
}
@media  screen and (max-width:568px){
    
    .chooseUs .chooseUs__title p{
        font-size: 30px;
        line-height: 38px;
    }
    .getProject__text h3{
        font-size: 30px;
        line-height: 38px;
    }
}
.navbar-toggler-icon{
    color: white;
    width: 37px;
    height: 37px;
    line-height: 37px;
    background-color: #009f4d;
    border-radius: 4px;
}